  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,700&family=Fira+Sans:wght@400;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #15012d;
}

.icons {
    margin: 10px;
    font-size: 30px;
    vertical-align: middle;

}
.icons:hover {
    cursor: pointer;
}
.icon-div {
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper {
    background-color: #a4a6ea;
    margin: 50px;
    padding: 50px;
    min-height: 650px;
    min-width: 800px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

button {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.input-data {
    margin: 0px;
}

.input-data > input {
    padding: 20px;
    margin-right: 5px;
    width: 400px;
    font-family: 'Rubik', sans-serif;
}

.input-data > button {
    padding: 20px;
    
}

.input-data>button:hover {
background-color: plum;
border: 1px solid black;

}

.display-data {
    margin-top: 20px;
    
}
.Task-item {

    height: 40px;
    display: flex;
    border: 1px solid navy;
    margin-top: 15px;
    padding-left: 10px;
    background-color: #974dff;
}
.Task-item:hover {
    box-shadow: -10px 10px 10px #974dff;
}
.Task-data {
    
    margin: 10px;
    width: 500px;
    color: white;
    font-size: 1rem;
}